.AdminNavbar {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  .AdminNavbarContainer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    .logo {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
}
