.admin-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 90vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  transition: width 0.3s ease;
  overflow: auto;
  .sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .head {
    font-size: 24px;
    color: #343a40;
    text-align: center;
    font-weight: bold;
  }

  .nav-list {
    flex-grow: 1;
    overflow-y: auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .nav-item {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 18px;
      color: #495057;
      padding: 12px 15px;
      border-radius: 8px;
      transition: background-color 0.3s, color 0.3s;
      margin-bottom: 10px;

      &:hover {
        background-color: #5f5e4a;
        color: #fff;
      }

      &.logout {
        color: #dc3545;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    border-top: 1px solid #ddd;
    text-align: center;
    margin-top: auto;
  }

  .user-name {
    font-size: 16px;
    font-weight: bold;
    color: #343a40;
  }

  .user-email {
    font-size: 14px;
    color: #6c757d;
  }
}

@media (max-width: 576px) {
  .admin-sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .admin-sidebar {
      width: 200px !important;
    }
  }
}
