.LostPassword {
  background-color: #f0f0f1;
  .LostPasswordContainer {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    gap: 20px;
    color: black;

    .head {
      width: 100%;
      border-left: 3px solid blue;
      background-color: white;
      padding: 10px;
      font-size: 20px;
    }
    form {
      width: 100%;
      background-color: white;
      border: 1px solid rgba(128, 128, 128, 0.389);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      padding: 20px 10px;
      input {
        margin-top: 10px;
        padding: 8px 0;
        border-radius: 5px;
        width: 100%;
        border: 1px solid gray;
      }
      button {
        background-color: #5f5e4a;
        color: #f0f0f1;
        padding: 8px;
        border-radius: 3px;
        float: right;
        display: flex;
        align-self: end;
      }
    }
  }
}
