:root {
  --bg-color: #fff;
  --text-color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Times New Roman", Times, serif, sans-serif;
  user-select: none;
}

/* List elementlər */
ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 20px;
  cursor: pointer;
  margin: 5px 0;
}

/* linklər */
a {
  text-decoration: none;
}

/* Input və button  */
input,
button {
  border: none;
  background-color: transparent;
}
button {
  cursor: pointer;
}

/* Şəkillər */
img {
  width: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #5f5e4a;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
