.UserRecipes {
  .UserRecipesContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 130px auto;
    width: 80%;
  }

  .UserRecipesSideBar {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow-y: scroll;
    height: 400px;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .reset-button {
      color: #4c4c34;
      border-bottom: 2px solid #4c4c34;
      cursor: pointer;

      &:hover {
        border-bottom: 2px solid #4c4c3462;
      }
    }

    .search-container {
      margin-top: 20px;
    }

    .search-input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border: 1px solid #4c4c34;
      }
    }

    .dropdowns {
      margin-top: 10px; 
      width: 100%;
      .dropdown {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #4c4c34;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      &:hover{
        background-color: #3c3c2a;
      }
    }
    }

    
  }

  .UserRecipesMain {

    .UserRecipesMainContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 20px;
    }

    .DishCardsWrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      .DishCard{
        width: 100%;
        button{
          border: 1px solid #3c3c2a46;
          padding: 5px 10px;
          margin: 3px 0;
        }
        .info{
          margin: 5px 0;
          display: flex;
          flex-direction: column;
          gap: 5px;
          a{
            color: #3c3c2a;
            cursor: pointer;
          }
        }
      
      }
    }

    
  }
}
